<label class="labeled-input">
  <span class="labeled-input__label">{{label}}</span>
  <input
    class="labeled-input__field"
    value="{{value}}"
    placeholder="{{placeholder}}"
    name="{{name}}"
    type="{{type}}"
  />
</label>
